{
    "root-addon": "../..",
    "root-data": "./../.db/standard",
    "TRACK_itemID": 0,
    "db-relative": "Standard/",
	"json-directories": [
		"./../.db/standard",
	],
    "wago-directories": [
		"../.db/standard/.config/.wago/12 - Midnight"
	],
    "IgnoreWowheadRetrieval": true,
    "DataPhase": "MID",
    "DataPatch": [
        12,
        1,
        0,
        69933
    ],
    "TrackUseCounts": [
        "questID"
    ],
    "HierarchicalConsolidationFields": [
        "sourceIgnored", "sharedDescription", "awp"
    ],
    "HierarchicalForceConsolidationFields": [
    ],
    "HierarchicalPropagationFields": [
        "pvp", "pb", "sr"
    ],
    "HierarchicalAnyPropagationFields": [
        "_u"
    ],
    "HierarchicalNonRepeatFields": [
        "rwp", "awp"
    ],
    "HierarchicalMinimumFields": [
    ],
    "HierarchicalMaximumFields": [
    ],
    "InheritingFields":[
        "timeline","requireSkill"
    ],
    "PreProcessorTags": [
        "RETAIL",
		"EXPLORATION",
		"COMMON_QUALITY_TRANSMOGS"
    ],
    "AutoLocalizeTypes": [
        "questID",
        "itemID",
        "sourceID"
    ],
    "Validation": {
        "clean": true,
        "field": {
            "c": {
                "global.match": "ALL_CLASSES"
            },
            "races": {
                "global.match": "ALL_RACES"
            },
            "collectible": {
                "match": [
                    true,
                    false
                ]
            },
            "crs": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "r": {
                "bounds": [
                    1,
                    2
                ]
            },
            "u": {
                "global.match": "VALID_PHASES"
            },
            "f": {
                "bounds": [
                    1,
                    999
                ]
            },
            "learnedAt": {
                "bounds": [
                    2,
                    999
                ]
            },
            "modID": {
                "bounds": [
                    0,
                    999
                ]
            },
            "bonusID": {
                "bounds": [
                    0,
                    99999
                ]
            },
            "currencyID": {
                "bounds": [
                    0,
                    6000
                ]
            },
            "questID": {
                "bounds": [
                    1,
                    99999
                ]
            },
            "sourceID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "mountID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "skillID": {
                "bounds": [
                    1,
                    99999
                ]
            },
            "spellID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "recipeID": {
                "bounds": [
                    1,
                    9999999
                ]
            },
            "itemID": {
                "bounds": [
                    1,
                    999999
                ]
            },
            "npcID": {
                "bounds": [
                    1,
                    999999
                ]
            }
        }
    }
}
